{
  "presets": [
    ["@babel/preset-env", {
      "modules": false,
      "useBuiltIns": "usage"
    }],
    ["@babel/preset-stage-2", {
      "decoratorsLegacy": true
    }],
    ["@babel/preset-react"]
  ],
  "plugins": [
    "react-hot-loader/babel"
  ],
  "env": {
    "test": {
      "presets": [
        ["@babel/preset-env", {
          "modules": "commonjs",
          "useBuiltIns": "usage",
          "targets": {"node": "current"}
        }]
      ]
    }
  }
}
