.container {
  font-size: 16px;

  & > button {
    color: #fff;
    background: #f09442;
    outline: none;
    border: none;
    padding: 0.5em;
    transition: background 200ms ease;

    & > i {
      width: 1em;
      height: 1em;
    }

    &:hover {
      background: #f19e54;
    }

    &:active {
      background: #d8853b;
    }

    &:disabled {
      background: #969696;
    }
  }

  &:first-of-type > button {
    border-radius: 4px 0 0 4px;
  }

  &:last-of-type > button {
    border-radius: 0 4px 4px 0;
  }
}
