.container {
  width: 90%;
  max-width: 700px;
  margin: auto;
  padding: 1px;

  & > div {
    position: static;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  @media (min-width: 1200px) {
    max-width: 1200px;

    & > .left {
      position: fixed;
      width: 264px;
    }

    & > .right {
      padding-left: 324px;
    }
  }
}
