.container {
  font-size: 24px;

  & > * {
    display: block;
    width: stretch;
    padding: 12px;
    margin: 12px 0;
    background: transparent;
    outline: none;
    border: none;
    border-radius: 4px;
    text-align: inherit;
  }

  & > input {
    color: #f09442;
    border: 2px solid #f09442;
    transition: border-color 200ms ease;

    &:hover,
    &:focus {
      border-color: #f19e54;
    }

    &:active {
      border-color: #d8853b;
    }
  }

  & > button {
    color: #fff;
    background: #f09442;
    transition: background 200ms ease;

    &:hover,
    &:focus {
      background: #f19e54;
    }

    &:active {
      background: #d8853b;
    }

    & > i {
      margin-right: 0.3em;
    }
  }
}
