.container {
  font-size: 16px;
  color: #000;

  & > label {
    display: block;
    margin: 0 0 8px;

    & > * {
      display: block;
      padding: 4px;
      width: fill;
      background: transparent;
      outline: none;
    }

    & > span {
      text-transform: capitalize;
    }

    & > textarea {
      font-size: 12px;
      resize: none;
      color: #444;
      border: 1px solid #999;
      border-radius: 2px;
      transition: color 200ms ease, border-color 200ms ease;

      &:focus {
        color: #000;
        border-color: #333;
      }
    }
  }
}
