.container {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  color: #000;
  font-size: 16px;
  padding: 0.5em;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 4px 4px 0 0;
  box-shadow: 0 0 2px 1px #ccc;
  display: flex;

  & > * {
    display: block;
    margin: 0;
    padding: 0;
  }

  & > p {
    flex: 1;
    max-width: 320px;
  }

  & > button {
    color: #f09442;
    background: transparent;
    outline: none;
    border: none;
    margin-left: 0.5em;
    transition: color 200ms ease;

    &:active {
      color: #d8853b;
    }
  }
}
