.container {
  width: 100%;
  margin: 24px 0;
  font-size: 18px;
  color: #000;

  & > * {
    display: block;
    width: 100%;
    margin: auto;
  }

  & > img {
    max-width: 500px;
    box-shadow: 0 1px 2px 1px #ccc;
  }

  & > p {
    margin-top: 0.6em;
    text-align: center;
    overflow-wrap: break-word;

    &:first-of-type {
      font-size: 1.2em;
    }

    & > a {
      color: inherit;
      text-decoration: none;
      transition: color 200ms ease;

      &:hover {
        color: #f09442;
      }

      & > i {
        margin-left: 0.3em;
      }
    }
  }
}
