.container {
  width: 100%;
  max-width: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-size: 16px;

  & > * {
    display: block;
    background: transparent;
    outline: none;
    border: none;
  }

  & > button {
    font-size: 1.25em;
    padding: 0.25em;

    & > i {
      width: 1em;
      height: 1em;
    }
  }

  & > input {
    flex: 1;
    padding: 0.25em 0;
    margin: 0 0.5em;
    transition: box-shadow 200ms ease;

    @media (hover: hover) {
      &:hover {
        box-shadow: 0 1px 0 0 #999;
      }
    }

    &:focus {
      box-shadow: 0 1px 0 0 #333;
    }
  }
}
