.container {
  font-size: 16px;

  & > button {
    background: transparent;
    outline: none;
    border: none;
    padding: 0.25em;
    color: #000;
    transition: color 200ms ease;

    & > i {
      width: 1em;
      height: 1em;
    }

    &:hover,
    &:focus {
      color: #f09442;
    }

    &:active {
      color: #d8853b;
    }
  }
}
