.container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  margin: 4px 0;
  padding: 4px;
  border-radius: 4px;
  background: transparent;
  transition: background 200ms ease;

  & > * {
    display: block;
    margin: 0;
  }

  & > img {
    width: 32px;
    height: 32px;
  }

  & > p {
    flex: 1;
    margin-left: 0.3em;
    margin-right: 0.3em;
    overflow: hidden;
    color: #777;

    & > * {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    & > :first-child {
      font-size: 1.2em;
      color: #000;
    }

    & > a {
      color: inherit;
      text-decoration: none;
      transition: color 200ms ease;

      &:hover {
        color: #f09442;
      }
    }
  }

  &:hover {
    background: rgba(0, 0, 0, 0.07);
  }
}
