.container {
  display: flex;
  align-items: center;
  color: #000;
  font-size: 20px;

  & > * {
    background: transparent;
    outline: none;
    border: none;
  }

  & > button {
    padding: 0.25em;
    transition: color 200ms ease;

    & > i {
      width: 1em;
      height: 1em;
    }

    &:hover {
      color: #f09442;
    }
  }

  & > input[type=range] {
    flex: 1;
    appearance: none;

    :root {
      --thumb: {
        height: 1em;
        width: 1em;
        background: #f09442;
        border: solid 1px #5f5f5f;
        border-radius: 50%;
        transition: transform 200ms ease;
        transform: scale(0.75, 0.75);
      };
      --thumb-highlight: {
        transform: none;
      };
      --track: {
        height: 2px;
        background: #5f5f5f;
        border-radius: 1px;
      };
    }

    &::-webkit-slider-thumb {
      @apply --thumb;

      appearance: none;
      margin-top: -9px;
    }

    &::-moz-range-thumb {
      @apply --thumb;
    }

    &::-ms-thumb {
      @apply --thumb;
    }

    &::-webkit-slider-runnable-track {
      @apply --track;
    }

    &::-moz-range-track {
      @apply --track;
    }

    &::-ms-track {
      @apply --track;
    }

    &:hover,
    &:active {
      &::-webkit-slider-thumb {
        @apply --thumb-highlight;
      }

      &::-moz-range-thumb {
        @apply --thumb-highlight;
      }

      &::-ms-thumb {
        @apply --thumb-highlight;
      }
    }
  }
}
